* {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}

body {
    background-image: url("https://pngimg.com/uploads/rainbow/rainbow_PNG5570.png");
    background-position: bottom;
    background-size: 80%;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightyellow;
}

h1 {
    font-size: 5rem; 
 }
 
 a {
    font-size: 1.2rem;
    font-weight: bold;
}

 button {
    padding: 0.3% 2%;
    border-radius: 3px;
    border: 1px solid black;
    transition: transform 0s linear;
 }

 button:hover {
     transform: translateY(-1px);
 }

 button:active {
    transform: translateY(0px);
}

 button:

 .set-colors {
     width: 80%;
 }


 .random-colors {
     width: 80%;
     margin: 5% 0;
 }

 .random-colors button {
    font-size: 2rem;
    color: lawngreen;
    background-color: black;
 }