* {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}

body {
    background-image: url("https://www.freepngimg.com/thumb/daft_punk/36535-3-daft-punk-transparent.png");
    background-size: 14%;
    background-position: bottom;
    background-repeat: repeat-x;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightyellow;
}

p {
    margin-top: 10%;
    font-size: 4rem;
}