* {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}

body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/20f4f11a-96a1-48a5-928f-c4c956cc2e6e/d1jvbmq-30510d8e-33cd-41fe-b12c-5db0340aab51.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMjBmNGYxMWEtOTZhMS00OGE1LTkyOGYtYzRjOTU2Y2MyZTZlXC9kMWp2Ym1xLTMwNTEwZDhlLTMzY2QtNDFmZS1iMTJjLTVkYjAzNDBhYWI1MS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.LqALR40JZZ6swWLC6gT9KVUEtpRFuhu6LMSNTpse6BE");
    background-size: 15%;
    background-position: bottom;
    background-repeat: repeat-x;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightyellow;
}

h1 {
    font-size: 5rem; 
 }

 a {
    font-size: 1.2rem;
    font-weight: bold;
}

button {
    width: 32%;
    height: 300px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 4px;
    transition: transform 0s;
    border: 1px solid black;
    background-color: rebeccapurple;
}

button:focus {
    border: 0;
}

button:hover {
    transform: translateY(-3px);
}

button:active {
    transform: translateY(1px);
}

.sounds-container {
    width: 100%;
    padding: 5% 0;
    display: flex;
    justify-content: space-evenly;
}

.seinfeld {
    background-image: url("https://i.ytimg.com/vi/j4E5OD2cHIo/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pikachu {
    background-image: url("https://i.pinimg.com/originals/dc/7a/ed/dc7aede02999598f349735464ffe3f7f.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.final-fantasy-victory {
    background-image: url("https://e.snmc.io/lk/lv/x/bd8a17aee3809b77cdb45082f8577883/6847806");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}