* {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/37/Toast-2.png");
    background-position: center;
    background-repeat: repeat-x;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightyellow;
}

h1 {
    font-size: 5rem; 
 }

 a {
    font-size: 1.2rem;
    font-weight: bold;
}

.toast {
    background-image: url("https://images.vexels.com/media/users/3/166265/isolated/preview/34755dc7208ebe0275412adca6723f22-cute-toast-emoji-by-vexels.png");
    background-size: contain;
    width: 50px;
    height: 50px;
}

#toaster {
    background-image: url("https://pngimg.com/uploads/toaster/toaster_PNG47.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    position: fixed;
    bottom: 1%;
}